.card {
    display: block;
    border: 1px solid black;
    border-radius: 100%;
}


.card--blue.card--finished {
    background: #61dafb;
}

.card--yellow.card--finished {
    background: beige;
}

.card--pink.card--finished {
    background: crimson;
}

.card--green.card--finished {
    background: aquamarine;
}


.card--unfinished{
    background: aliceblue;
}
