.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 20px;
    padding: 16px;
}

.card-container::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}
.card-container > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.filter-container {
    display: flex;
    flex-direction: row;
    background: var(--color-primary-light);
}
.filter {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 1.25px;
    color: var(--color-black-shade);
    padding: 1em;
    text-transform: uppercase;
    border-bottom: 2px solid rgba(255, 255, 255, 0)
}

.filter > svg {
    font-size: 1.25rem;
    padding: 0.2em 0;
    margin: auto;
    color: var(--color-black-shade);
}

.filter--active {
    border-color: var(--color-black);
    color: var(--color-black);
}

.filter--active > svg {
    color: var(--color-black);
}

/* Just to make the grid visible */
